<!DOCTYPE html>
<html>
    <head></head>
    <div id="app">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        

        <blog-post title="This is a post"></blog-post>
        <blog-post title="This is another post"></blog-post>


    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</html>

